* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    overflow: hidden;
    background-color: rgba(10, 10, 10, 1);
  }
#parent{
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: -50%;
}
#typed-text {
  color: blue;
  font-size: 36px;
  border-right: 2px solid;
  padding-right: 10px;
}
.container span{
    color: yellow;
}
#span1{
    color: yellow;
  }

  .main-wrapper {
    display: flex;
    position: absolute;
    transform-style: preserve-3d;
    perspective: 400px;
    inset: 0;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
  }
  .sphere-wrapper {
    transform-style: preserve-3d;
    width: 300px;
    height: 300px;
    position: relative;
    margin-right: -400px;
    animation: rotate3d 15s linear infinite;
    /* border: 2px solid red; */
  }
  .plane {
    position: absolute;
    transform-style: preserve-3d;
    inset: 0;
    /* border: 2px solid red; */
  }
  .spoke {
    transform-origin: 0 0;
    transform-style: preserve-3d;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 0;
    /* border: 2px solid red; */
  }
  .dot {
    position: absolute;
    width: 3px;
    height: 5px;
    border-radius: 50%;
    left: -10px;
    top: 100%;
    transform: rotateX(90deg);
  }

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 360px;
  }
}

  
@keyframes rotate3d {
    0% {
      transform: rotate3d(1, 1, 1, 0deg);
    }
    25% {
      transform: rotate3d(1, 1, 1, 90deg);
    }
    50% {
      transform: rotate3d(1, 1, 1, 180deg);
    }
    75% {
      transform: rotate3d(1, 1, 1, 270deg);
    }
    100% {
      transform: rotate3d(1, 1, 1, 360deg);
    }
  }
  
@keyframes
 pulsate {
    0% {
      transform: rotateX(90deg) scale(0.3) translateZ(20px);
    }
    100% {
      transform: rotateX(90deg) scale(1) translateZ(0);
    }
  }